/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Playfair Display', serif;
}